
#container{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  position: absolute;
}


#form {
  background-color:#9068be;
  width:50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;;
  padding: 40px;
  border: solid 2px #595959;
  border-radius: 10px;
  color: #e1e8f0;
  z-index: 900;
}

.isvisible{
  visibility: visible;
}

.isnotvisible{
  visibility: hidden;
}
