
#container{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  position: absolute;
}


#form {
  z-index: 900;
  padding: 40px;
  margin: 0 auto;
  margin-top: 15%;
  width: 100%;
  color: white !important;
}

.isvisible{
  visibility: visible;
}

.isnotvisible{
  visibility: hidden;
}
